body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('image.jpg');
    text-align: center;
    color: white;
    background-size: cover;
    font-weight: bold;
}
#message-el{
    font-size: 20px;
    color: white;
    font-style: italic;

}
button{
    color: rgb(44, 151, 8);
    background-color: goldenrod;
    font-size: 20px;
    border-radius: 3px;
    width: 150px;
    border: none;
    padding : 5px ;
    font-weight: bold;
    display: block;
    margin: 5px auto;
}
h1{
    color: goldenrod;
    font-size: 50px;
}